/.venv
/__pycache__
/.env
/app/__pycache__
/app/api/__pycache__
/app/database/__pycache__
/app/models/__pycache__
/app/services/__pycache__
/app/services/classes/__pycache__
/app/services/schema/__pycache__
/tests/__pycache__